name: Deploy Backend to Render

on:
  push:
    branches:
      - main
    paths:
      - 'backend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deploy
        uses: ahmadnassri/action-render-deploy@v1.0.1
        with:
          render_deploy_hook_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
